  
<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let password of passwords">
    <div class="card d-flex justify-content-center text-center">
      <div class="card-body">
        <h5 class="card-title">{{password.name}}</h5>
        <p class="card-text">{{password.url}}</p>
        <p class="card-text">{{password.username}}</p>
        <p class="card-text" type="password">{{password.pass}}</p>
        <a href="#" class="btn btn-primary">Visit Platform</a>
      </div>
    </div>
  </div>
</div>
<!--
  Name
  URL
  Username/Email
  Password
  Note
-->