  
<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let group of groups">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{group.name}}</h5>
          <p class="card-text">{{group.description}}</p>
          <a href="#" class="btn btn-success">Visit Platform</a>
        </div>
      </div>
    </div>
  </div>