<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar">
        <div class="sidebar-header">
          <br>
          <h2 class="text-center" style="font-family: Andale Mono, monospace;color: white;">Your Groups</h2>
        </div>
        <hr>
        <div class="sidebar-single "*ngFor="let grupo of grupos;">
          <a style="font-family: Andale Mono, monospace;">{{grupo}}</a>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-10"><br>
      <h3 style="font-family: Andale Mono, monospace;font-weight: bold;font-size: 30px;">All Items</h3><br>
      <div class="operations">
        <img class="operand add"  style="cursor:pointer" src="./assets/add.png" title="Add Password">
        <img class="operand rem"  style="cursor:pointer" src="./assets/delete.png" title="Remove Password">
        <img class="operand edt"  style="cursor:pointer" src="./assets/edt.png" title="Edit Password">
      </div>
      <label style="font-family: Andale Mono, monospace;font-size: 20px;">Most Used</label><hr class="cont-hr">
        <div class="container">
          <div class="card rounded-0 text-left" style="cursor:pointer" *ngFor="let password of passwords">
            <div class="card-body">
              <h5 class="card-title">{{password.name}}</h5>
              <p class="card-text">{{password.url}}</p>
              <!--<p class="card-text">{{password.username}}</p>
              <p class="card-text" type="password">{{password.pass}}</p>
              <a href="#" class="btn btn-primary">Visit Platform</a>-->
            </div>
        </div>
      </div>
      <br>
      <label style="font-family: Andale Mono, monospace;font-size: 20px;">Favorites</label><hr class="cont-hr">
      <div class="container">
        <div class="card text-left" *ngFor="let password of passwords">
          <div class="card-body">
            <h5 class="card-title">{{password.name}}</h5>
            <p class="card-text">{{password.url}}</p>
            <!--<p class="card-text">{{password.username}}</p>
            <p class="card-text" type="password">{{password.pass}}</p>
            <a href="#" class="btn btn-primary">Visit Platform</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>