.container::-webkit-scrollbar {
    display: none;
  }

.container-fluid {
    /**border: solid chartreuse 2px;*/
    min-height: 100%;
}

.col-md-2 {
    /**border: solid black 2px ;*/
    min-height: 100vh;
    background-color: crimson;
    
}

.col-md-10 {
    /**border: solid rgb(168, 57, 29) 2px ;*/
    padding-left: 40px;
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

.container {
    /**border: solid rgb(123,60,123) 2px;*/
    height: 250px;
    width: 1000px;
    display: block;
    position: relative;
    overflow-y: auto;
    margin-left:10px;
}

.card {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}

.sidebar-single:hover{
    background-color: rgb(221, 53, 87);
}

.sidebar-single{
    background-color: rgb(220, 20, 60);
    /**border: solid black 2px;*/
    color: white;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    height: 40px;
    width:100%;
}

.cont-hr {
    border: 0.5px solid #b0b0b0;
    width: 77%;
    margin-left: 0px;
    margin-top: 1px;
}

hr {
    border: 1px solid rgb(185, 17, 17);
    width: 99%;
  }


.sidebar{
    box-shadow: 5px 5px 10px #888888;
    position: absolute;
    /**border: solid black 2px;*/
    min-height: 100vh;
    width:100%;
    left: 0px;
    z-index: 110;
}
.card-body{
}

.operand{
    /**border: 1px solid black;*/
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    border-radius: 12px;
    
}

.add{
    background-color: rgb(80, 80, 221);
}

.rem{
    background-color: crimson;
}

.edt{
    background-color: lightgrey;
}

.operations{
    margin-right: 20px;
    height: 225px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 0px;
    z-index: 1000;
}