<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0 text-center">Protect Your Accounts</h3>
                </div>
                <div class="card-body">
                    <img src="https://ak.picdn.net/shutterstock/videos/6795940/thumb/1.jpg" class="img-fluid" alt="Responsive image">
                    <h1 class="text-left">Free</h1>
                    <h1 class="text-center">Fast</h1>
                    <h1 class="text-right">Easy</h1>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0 text-left">Register <a routerLink="/login" routerLinkActive="active" class="linka float-right"> Login</a><p class="abc float-right">or&nbsp;</p></h3>
                </div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-group">
                            <label for="">Username</label>
                            <input [(ngModel)]="registerUserData.username" name="username" type="text" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" required>
                        </div>
                        <div class="text-center">
                            <button (click)="registerUser()" type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
