.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    min-height: 100vh;
    background-color: #f1ebebf1;
}

.row {
    width: 100%;
}

.card-header {
    color: white;
    background-color: crimson;
    height: 60px;
}

.card {
    margin:50px;
}

