<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-5 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Login <a routerLink="/register" routerLinkActive="active" class="float-right"> Create an Account</a><p class="float-right">or&nbsp;</p></h3>
                </div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-group">
                            <label for="">Email/Username</label>
                            <input [(ngModel)]="loginUserData.username" name="username" type="text" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control rounded-0" required>
                        </div>
                        <div class="text-center">
                            <button (click)="loginUser()" type="submit" class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>