.container-fluid {
    background-color: #f1ebebf1;
    min-height: 100vh;
}

.card-header {
    color: white;
    background-color: crimson;
    height: 60px;
}

.card {
    position: absolute ;
    margin-top: 50px;
    width: 600px;
}