<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <br>
      <h1 style="font-family: gibson-regular,Arial,sans-serif;font-weight: bold;font-size: 60px;">WELCOME TO PASSVAULT
      </h1>
      <br>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX11604247.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col col-lg-3">
      <img src="https://c8.alamy.com/comp/WKER5F/attractive-business-people-smiling-at-the-camera-whilst-working-on-a-computer-WKER5F.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col col-lg-3">
      <img src="https://st4.depositphotos.com/1017228/21851/i/1600/depositphotos_218514986-stock-photo-vertical-image-happy-asian-male.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>