.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    min-height: 100vh;
}

.navbar {
    background-color: #b0b0b0;
    box-shadow: 5px 5px 10px #888888;
    z-index: 100;
}

.dropdown {
    font-size: 20px;
}

.user-image {
    
    width: 60px;
    height: 60px;
}