
<!--                         Before Login                      -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <img class="navbar-brand" src="./assets/passvault_logo.png" style="cursor:pointer" routerLink="/home" routerLinkActive="active" width="95" height="60">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
            <div *ngIf="_authService.loggedIn()">
              <div class="dropdown">
                <a class="btn-topbar dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="user-image" src="./assets/user.png"></a>              
                <div class="dropdown-menu dropdown-menu-right" >
                  <a class="dropdown-item" >Signed in as <br>INSERT YOUR NAME</a><hr>
                  <a class="dropdown-item" href="#">Your Profile</a>
                  <a class="dropdown-item" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
                </div>
              </div>
              <!--<a class="nav-link" style="cursor:pointer" (click)="_authService.logoutUser()">User Account</a>-->
            </div>
            <!--<a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>-->  
        </ul>
      </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div> 

